{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->

{% block pageTitle %}
  Confirmation page
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <script>
        function myFunction() {
          var copyText = document.getElementById("myInput");
          copyText.select();
          copyText.setSelectionRange(0, 99999);
          document.execCommand("copy");
        }
      </script>

      <h1 class="govuk-heading-l">
        You must now pay for the document
      </h1>

      <p>
        You will need to make a note of your reference number<br>
      </p>

      <input type="text" value="HDJ2123F" id="myInput" style="
              height: 30px;
              font-size: 22px;
              width: 135px;
              margin-bottom: 10px;
          ">

      <button class="govuk-button govuk-button--secondary" onclick="myFunction()" onmouseout="outFunc()">
        Copy reference number
      </button>

      {{ govukButton({
  text: "Continue to payment",
  href: "https://www.gov.uk/payments/apply-to-protect-your-details/sr01",
  isStartButton: true
}) }}

    </div>
  </div>

{% endblock %}