{% extends "layout.html" %}

{% block pageTitle %}
  Upload the SR01 form
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="payment" method="GET">

        <h1 class="govuk-heading-l">
          Upload the completed form
        </h1>

        <p class="govuk-body">
          You must:</p>
        <ul class="govuk-list govuk-list--bullet">

          <li>
            complete the document before uploading it</li>
          <li>
            upload one document using a PDF format</li>
        </ul>

        {{ govukFileUpload({
  id: "file-upload-1",
  name: "file-upload-1",
  label: {
    text: "Upload a file"
  }
}) }}

        {{ govukButton({
           text: "Continue"
         }) }}
      </form>

    </div>
  </div>

{% endblock %}