{% extends "layout.html" %}

{% block pageTitle %}
  Review application
{% endblock %}

{% block beforeContent %}
  <script>

    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
        document.getElementById("myBtn").style.display = "block";
      } else {
        document.getElementById("myBtn").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
  </script>
  <style>
    div.sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-color: white;
      padding-top: 30px;
      border-bottom: 10px solid #005ea5;
      z-index: 1;
    }
  </style>
  <ul id="navigation" class="mobile-hidden">
    <li class="user" id="signed-in-user">user@companieshouse.gov.uk
    </li>
    <li>
      <a href="/account/login" id="user-signout">Sign out</a>
    </li>
  </ul>
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
{% endblock %}

{% block content %}
  <div class="sticky">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <span class="govuk-caption-xl">Application - N4OBD-U2SGP</span>
        <h1 class="govuk-heading-xl">Miss Tanya Jones</h1>
      </div>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Overview</h2>

      <p>Application received at 15:34 on Tuesday 30 July 2020</p>
      <h2 class="govuk-heading-m">Reference numbers</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Payment ID
          </dt>
          <dd class="govuk-summary-list__value">
            ABCDEfghij123456
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Application reference
          </dt>
          <dd class="govuk-summary-list__value">
            N4OBD-U2SGP
          </div>

        </dl>
        <h2 class="govuk-heading-m">Applicant details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Full name
            </dt>
            <dd class="govuk-summary-list__value">
              Miss Tanya Jones
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Has the applicant used a different name on the Companies House register in the last 20 years?
            </dt>
            <dd class="govuk-summary-list__value">
              No
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              5 January 1978
            </dd>
          </div>

        </dl>
        <h2 class="govuk-heading-m">Contact details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="mailto:tanya@email.com">tanya@gmail.com</a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Home address details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Building and street
            </dt>
            <dd class="govuk-summary-list__value">
              12 Crown Way
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Town or city
            </dt>
            <dd class="govuk-summary-list__value">
              Cardiff
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              County
            </dt>
            <dd class="govuk-summary-list__value">
              Test
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Postcode
            </dt>
            <dd class="govuk-summary-list__value">
              CF92 1AB
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-m">Document details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company number
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="https://beta.companieshouse.gov.uk/company/03116636">03116636</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company name
            </dt>
            <dd class="govuk-summary-list__value">
              Way Ahead Community Services
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Document name and description
            </dt>
            <dd class="govuk-summary-list__value">
              AP01 - Appoint a director
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date the document was added to the register
            </dt>
            <dd class="govuk-summary-list__value">
              12/04/2007
            </dd>
          </div>

        </dl>
      </div>
    </div>
  </div>

{% endblock %}