{% extends "layouts/main.html" %}
{% block pageTitle %}
  Is the applicant a current officer for the company? - Apply to remove your home address from the Companies House register - GOV.UK
{% endblock %}
{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase-banner.html" %}
    {% include "includes/user-bar.html" %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          {% if errorCurrentofficer == true %}
            {{ govukErrorSummary({
                   titleText: "There is a problem",
                   errorList: errorList
                 }) }}
          {% endif %}
          <form action="/service/applicant-acting" method="post">
            {% if errorCurrentofficer == true %}
              {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "current-officer",
              name: "current-officer",
              fieldset: {
                legend: {
                  text: "Is the applicant a current officer of the company?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              errorMessage: {
                text: "Select yes if the applicant is a current officer"
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}
            {% else %}
              {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "current-officer",
              name: "current-officer",
              fieldset: {
                legend: {
                  text: "Is the applicant a current officer of the company?",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--l"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}
            {% endif %}
            <button class="govuk-button" data-module="govuk-button">Continue</button>
          </form>

        </div>
        <!--govuk-grid-row-->
      </div>
      <!--govuk-grid-column-two-thirds-->

    </main>
  </div>
  <!---govuk-width-container-->

{% endblock %}
