{% extends "layout.html" %}

{% block pageTitle %}
  What are the applicant's details?
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="address-details" method="GET">

        <h1 class="govuk-heading-l">
          What are the applicant's details?
        </h1>

        <span id="changed-name-hint" class="govuk-hint">Tell us the details of the person who wants to remove their home address from the Companies House public register.</span>

        {{ govukInput({
          label: {
            text: "First name"
          },
          classes: "govuk-input--width-20",
          id: "first-name",
          name: "first-name",
          autocomplete: "name",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Last name"
          },
          classes: "govuk-input--width-20",
          id: "last-name",
          name: "last-name",
          autocomplete: "name",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {% set previousNamesHtml %}
        {{ govukInput({
              label: {
                text: "Previous names"
              },
              classes: "govuk-input--width-20",
              id: "individual-fomer-name",
              name: "individual-former-name"
            }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "changed-name-conditional",
          name: "changed-name",
          fieldset: {
            legend: {
              text: "Has the applicant used a different name for business purposes in the last 20 years?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("changed-name", "no"),
              conditional: {
                html: previousNamesHtml
              }
            },
            {
              value: "no",
              text: "No",
                checked: checked("changed-name", "yes")
            }
          ]
        }) }}

        {{ govukDateInput({
            id: "dob",
            namePrefix: "dob",
            fieldset: {
              legend: {
                text: "Date of birth",
                isPageHeading: false,
                classes: "govuk-fieldset__legend"
              }
            },
            hint: {
              text: "For example, 31 3 1980"
            }
          }) }}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: "We’ll use this email address to contact you about this application."
          },
          classes: "govuk-input--width-20",
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukButton({
           text: "Continue"
         }) }}
      </form>

    </div>
  </div>

{% endblock %}