{% extends "layout.html" %}

{% block pageTitle %}
  Applicant's details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="address-details" method="GET">

        <h1 class="govuk-heading-l">
          Applicant's details
        </h1>

        {{ govukInput({
          label: {
            text: "Full name"
          },
          classes: "govuk-input--width-20",
          id: "full-name",
          name: "full-name",
          autocomplete: "name",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: "We’ll only use this to send you a receipt"
          },
          classes: "govuk-input--width-20",
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukRadios({
          idPrefix: "how-contacted-conditional",
          name: "how-contacted",
           classes: "govuk-radios--inline",
          fieldset: {
            legend: {
              text: "Are you on the secure register? ",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "This applies to 243, ZF & ZG protection"
          },
          items: [
            {
              value: "yes",
              text: "Yes"

            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
           text: "Continue"
         }) }}
      </form>

    </div>
  </div>

{% endblock %}