{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Presenter details</h2>

      {{ govukSummaryList({
           classes: 'govuk-!-margin-bottom-9',
           rows: [
             {
               key: {
                 text: "Are you applying to remove your own details?"
               },
               value: {
                 text: "Yes"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "name"
                   }
                 ]
               }
             }
           ]
         }) }}

      <h2 class="govuk-heading-m">Applicant details</h2>

      {{ govukSummaryList({
           classes: 'govuk-!-margin-bottom-9',
           rows: [
             {
               key: {
                 text: "First Name"
               },
               value: {
                 text: "Sarah"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "name"
                   }
                 ]
               }
             },
             {
               key: {
                 text: "Last Name"
               },
               value: {
                 text: "Phillips"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "name"
                   }
                 ]
               }
             },
             {
               key: {
                 text: "Has the applicant used a different name for business purposes in the last 20 years?"
               },
               value: {
                 text: "No"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "name"
                   }
                 ]
               }
             },
             {
               key: {
                 text: "Date of birth"
               },
               value: {
                 text: "5 January 1978"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "date of birth"
                   }
                 ]
               }
             }
           ]
         }) }}

      <h2 class="govuk-heading-m">Home address details</h2>

      {{ govukSummaryList({
           classes: 'govuk-!-margin-bottom-9',
           rows: [
             {
               key: {
                 text: "What home address would you like to remove?"
               },
               value: {
                 html: "72 Guild Street<br>London<br>SE23 6FH"
               },
               actions: {
                 items: [
                   {
                     href: "#",
                     text: "Change",
                     visuallyHiddenText: "home address"
                   }
                 ]
               }
             }
           ]
         }) }}

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/form-handler" method="post" novalidate="novalidate">

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
             text: "Accept and send"
           }) }}

      </form>

    </div>
  </div>
</div>

{% endblock %}