{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Check your answers before you continue</h1>

      <h2 class="govuk-heading-m">Applicant details</h2>

      {{ govukSummaryList({
           classes: 'govuk-!-margin-bottom-9',
           rows: [
             {
               key: {
                 text: "Full name"
               },
               value: {
                 text: "Sarah Phillips"
               }
             },
             {
               key: {
                 text: "Has the applicant used a different name on the Companies House register in the last 20 years?"
               },
               value: {
                 text: "No"
               }
             },
             {
               key: {
                 text: "Date of birth"
               },
               value: {
                 text: "5 January 1978"
               }
             }
           ]
         }) }}

      <h2 class="govuk-heading-m">Home address details</h2>

      {{ govukSummaryList({
           classes: 'govuk-!-margin-bottom-9',
           rows: [
             {
               key: {
                 text: "What is the home address you want to remove from the document?"
               },
               value: {
                 html: "72 Guild Street<br>London<br>SE23 6FH"
               }
             }
           ]
         }) }}

      <h2 class="govuk-heading-m">Document details</h2>

      {{ govukSummaryList({
              classes: 'govuk-!-margin-bottom-9',
              rows: [
                {
                  key: {
                    text: "Company name"
                  },
                  value: {
                    text: "ABC LTD"
                  }
                },
                {
                  key: {
                    text: "Company number"
                  },
                  value: {
                    text: "09164758"
                  }
                },
                {
                  key: {
                    text: "Document name and description"
                  },
                  value: {
                    text: "CH01 - Director's details changed for Mr John Smith on 12 November 2019"
                  }
                },
                {
                  key: {
                    text: "Date the document was added to the register"
                  },
                  value: {
                    text: "18 November 2019"
                  }
                }
              ]
            }) }}

      <h2 class="govuk-heading-m">Replacement address details</h2>

      {{ govukSummaryList({
                 classes: 'govuk-!-margin-bottom-9',
                 rows: [
                   {
                     key: {
                       text: "What address do you want to replace your home address with?"
                     },
                     value: {
                       html: "27 Staple Street<br>London<br>SE35 6YP"
                     }
                   }
                 ]
               }) }}

      <h2 class="govuk-heading-m">Contact details</h2>

      {{ govukSummaryList({
                       classes: 'govuk-!-margin-bottom-9',
                       rows: [
                        {
                             key: {
                               text: "Contact address"
                             },
                             value: {
                               html: "19 Regency Street<br>London<br>SE87 5PT"
                             }
                           }
                       ]
                     }) }}

      <h2 class="govuk-heading-m">Confirm authorisation</h2>

      <p class="govuk-body">By continuing, you confirm that you are authorised to submit this application and to the best of your knowledge, the details you've provided are correct.</p>

      <form action="payment-review" method="post" novalidate="novalidate">

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
             text: "Confirm and continue"
           }) }}

      </form>

    </div>
  </div>
</div>

{% endblock %}
