{% extends "layout.html" %}

{% block pageTitle %}
  Confirm the contact address - Apply to remove your home address from the Companies House register - GOV.UK
{% endblock %}

{% block main %}

  <div class="govuk-width-container">
    {% include "includes/phase-banner.html" %}
    {% include "includes/user-bar.html" %}
    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Confirm the contact address</h1>
          <form class="form" action="check-your-answers" method="get">

            <p>19 Regency Street<br>London<br>SE87 5PT</p>

            <p>
              <a href="">Change</a>
            </p>
            {{ govukButton({
          text: "Confirm and continue"
        }) }}

          </form>

        </div>
      </main>
    </div>

  {% endblock %}