{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page - Apply to remove your home address from the Companies House register - GOV.UK
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application submitted</h1>
        <div class="govuk-panel__body">
          Your reference number is<br>
          <strong>N4OBD-U2SGP</strong>
        </div>
      </div>

      {{ govukTable({

          firstCellIsHeader: true,
          head: [
            {

              classes: 'govuk-!-width-one-half'
            },
            {

              classes: 'govuk-!-width-one-half'
            }
          ],
        rows: [
        [
          {
            text: "Full name"
          },
          {
            text: "Daniel Thomas"
          }
        ],
          [
            {
              text: "Company number"
            },
            {
              text: "09164758"
            }
          ],
          [
            {
              text: "Company name"
            },
            {
              text: "ABC LTD"
            }
          ],
          [
            {
              text: "Document type and description"
            },
            {
              text: "AP01 - Appoint a director"
            }
          ],
          [
            {
              text: "Date the document was added to the register"
            },
            {
              text: "5 December 2019"
            }
          ],
          [
            {
              text: "Payment received"
            },
            {
              text: "£32"
            }
          ]
        ]
      }) }}
      <h3 class="govuk-heading-m">What happens next</h3>
      <p class="govuk-body">We will send a confirmation email to
        <strong>dthomas@gmail.com</strong>
        which contains your reference number.</p>
      <p class="govuk-body">We will review your application to remove your home address from this document. We’ll email you to let you know if your application was successful. It usually takes around 14 days to review an application.</p>

      {{ govukWarningText({
    text: "Warning: Due to the impact of coronavirus (COVID-19), it could take longer than usual to process applications.",
    iconFallbackText: "Warning"
  }) }}
    </div>
  </div>
  <p class="govuk-body">
    <a class="govuk-link" href="start">Submit another application</a>
  </p>
  <h3 class="govuk-heading-m">Contact us</h3>
  <p class="govuk-body">If you have a question about your application, you can contact us.</p>
  <h3 class="govuk-heading-s">Telephone</h3>
  <ul class="govuk-list">
    <li>0303 1234 500</li>
    <li>Monday to Friday, 8:30am to 6pm</li>
  </ul>
  <p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
  </p>

  <h3 class="govuk-heading-s">Email</h3>

  <p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/call-charges">enquiries@companieshouse.gov.uk</a>
  </p>

  <h3 class="govuk-heading-m">Feedback</h3>
  <p class="govuk-body">This is a new service. Help us improve it by completing our
    <a href="https://www.research.net/r/remove-home-add-conf">quick survey</a>.
  </p>

{% endblock %}
