{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}
{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application submitted</h1>
        <div class="govuk-panel__body">
          Your reference number is<br>
          <strong>N4OBD-U2SGP</strong>
        </div>
      </div>

      {{ govukTable({

          firstCellIsHeader: true,
          head: [
            {

              classes: 'govuk-!-width-one-half'
            },
            {

              classes: 'govuk-!-width-one-half'
            }
          ],
        rows: [
          [
            {
              text: "Company number"
            },
            {
              text: "09164758"
            }
          ],
          [
            {
              text: "Company name"
            },
            {
              text: "ABC LTD"
            }
          ],
          [
            {
              text: "Document description"
            },
            {
              text: "CH01 - Director’s details changed for Mr John Smith on 12 November 2019"
            }
          ],
          [
            {
              text: "Date the document was added to the register"
            },
            {
              text: "18 November 2019"
            }
          ],
          [
            {
              text: "Payment received"
            },
            {
              text: "£32"
            }
          ]
        ]
      }) }}

      <h3 class="govuk-heading-m">What happens next</h3>
      <p class="govuk-body">We will send a confirmation email to sphillips@gmail.com which contains your reference number.</p>
      <p class="govuk-body">We will review your application to remove your home address from this document. We’ll email you to let you know if your application was successful. It usually takes around 28 working days to review an application.</p>

      {{ govukWarningText({
    text: "Warning: Due to the impact of coronavirus (COVID-19), it could take longer than usual to process applications.",
    iconFallbackText: "Warning"
  }) }}
    </div>
  </div>
  <h3 class="govuk-heading-m">What do you want to do next?</h3>
  <p class="govuk-body">
    <a class="govuk-link" href="">Download this confirmation page in a PDF (opens in a new tab)</a>
  </p>
  <p class="govuk-body">
    <a class="govuk-link" href="start">Submit another application</a>
  </p>
  <p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/contact-companies-house">Contact us</a>
    about your application
  </p>

  <h3 class="govuk-heading-m">Feedback</h3>
  <p class="govuk-body">This is a new service. Help us improve it by completing our
    <a href="https://www.research.net/r/remove-home-add-conf">quick survey</a>
    .</p>
  <p>
    <a href="/emails/application-submitted">View email (link for user testing only)</a>
  </p>

{% endblock %}