{% extends "layout.html" %}

{% block pageTitle %}
  Confirm this is the address you want to replace your home address with - Apply to remove your home address from the Companies House register - GOV.UK
{% endblock %}

{% block beforeContent %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}
  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Confirm this is the address you want to replace your home address with</h1>
      <form class="form" action="contact-address" method="get">

        <p>22 Cotton Road<br>Rumney<br>Cardiff<br>Wales<br>CF3 3EA</p>

        <p>
          <a href="">Change</a>
        </p>
        {{ govukButton({
          text: "Confirm and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
