{% extends "layout.html" %}

{% block pageTitle %}
  Document details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="add-another-document" method="GET">

        <h1 class="govuk-heading-l">
          What are the document details?
        </h1>
</p>
        <p class="govuk-body">You can check which documents contain your home address on the
          <a target="_blank" href="https://beta.companieshouse.gov.uk/">Companies House register</a>.</p>
          <p class="govuk-body">You'll need:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the date the document was added to the register</li>
            <li>the document description as it appears on the company filing history</li>
          </ul>

        {{ govukInput({
          label: {
            text: "Company name",
            classes: "govuk-label--s",
            isPageHeading: false
          },
classes: "govuk-input--width-10",
          id: "event-name",
          name: "event-name"
        }) }}
        {{ govukInput({
          label: {
            text: "Company number",
            classes: "govuk-label--s",
            isPageHeading: false
          },
classes: "govuk-input--width-10",
          id: "event-name",
          name: "event-name"
        }) }}
        {{ govukInput({
          label: {
            text: "Document description",
            classes: "govuk-label--s",
            isPageHeading: false
          },
          hint: {
            text: "Tell us which document you want to remove your home address from. For example, the document type, or the form number and title."
          },
          classes: "govuk-input--width-10",
          id: "event-name",
          name: "event-name"
        }) }}

        {{ govukDateInput({
  id: "passport-issued",
  namePrefix: "passport-issued",
  fieldset: {
    legend: {
      text: "Document date",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, 12 11 2007"
  }
}) }}

        {{ govukButton({
           text: "Continue"
         }) }}
      </form>

    </div>
  </div>

{% endblock %}
