{% extends "layout.html" %}

{% block pageTitle %}
  What address do you want to replace the home address with? - Apply to remove your home address from the Companies House register - GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/user-bar.html" %}
  <a class="govuk-back-link" href="javascript:history.back()">Back</a>
{% endblock %}

{% block content %}

  <!-- DEVS: Ignore the HTML here, it's not correct, but it means the error validation works -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="replacement-address" method="post">
        {% if errorPostcode == true %}
          {{ govukErrorSummary({
               titleText: "There is a problem",
               errorList: errorList
             }) }}
        {% endif %}

        <h1 class="govuk-heading-l">
          What address do you want to replace the home address with?
        </h1>
        <span id="changed-name-hint" class="govuk-hint">This will be the company's service address (or ‘correspondence’ address) and is shown on the public register.</span>

        {% if errorPostcode == true %}

          {{ govukInput({
  label: {
    text: "UK postcode"
  },
  errorMessage: {
      text: "Enter a postcode"
    },
  classes: "govuk-input--width-10",
  id: "uk-postcode",
  name: "uk-postcode"
}) }}
        {% else %}

          {{ govukInput({
label: {
text: "UK postcode"
},
classes: "govuk-input--width-10",
id: "uk-postcode",
name: "uk-postcode"
}) }}

        {% endif %}
        {{ govukInput({
  label: {
    text: "Property name or number"
  },
  classes: "govuk-input--width-5",
  hint: {
    text: "For example, 'The Mill', '116' or 'Flat 37a'"
  },
  id: "property",
  name: "property"
}) }}

        <p>
          <a href="">Enter the address manually</a>
        </p>

        {{ govukButton({
           text: "Continue"
         }) }}
      </form>

    </div>
  </div>

{% endblock %}