{% extends "layout.html" %}

{% block pageTitle %}
  Apply to remove your home address from the Companies House register
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Shortcuts</h1>
      <h2 class="govuk-heading-l">Web screen journey</h2>
      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="/service/start">Start</a>
        </li>
        <li>
          <a href="/service/applicant-details">Applicant details</a>
        </li>
        <li>
          <a href="/service/address-details">Address details</a>
        </li>
        <li>
          <a href="/service/document-details">Document details</a>
        </li>
        <li>
          <a href="/service/service-address">Service address</a>
        </li>
        <li>
          <a href="/service/payment">Payment</a>
        </li>
        <li>
          <a href="https://www.gov.uk/payments/apply-to-protect-your-details/pay-for-example-service">Payment link</a>
        </li>

      </ul>

      <p>
        <a href="/public/images/web-journey.png">Overview of the web journey</a>
      </p>

      <h2 class="govuk-heading-l">Upload journey</h2>
      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="/upload/start">Start</a>
        </li>
        <li>
          <a href="/upload/upload">Upload the SR01</a>
        </li>
        <li>
          <a href="/upload/payment">Payment</a>
        </li>
      </ul>
      <p>
        <a href="/public/images/upload-journey.png">Overview of the upload journey</a>
      </p>
      <h2 class="govuk-heading-m">Admin</h2>

      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="/admin/sign-in">Sign in</a>
        </li>
        <li>
          <a href="/admin/applications-list-mvp">List of applications</a>
        </li>
        <li>
          <a href="/admin/view-application-mvp">View application</a>
        </li>
      </ul>
      <p>
        <a href="/public/images/internal-mvp.png">Overview of the internal MVP journey</a>
      </p>
    </div>
  </div>

{% endblock %}