{% extends "layout.html" %}

{% block pageTitle %}
  Request an authentication code to be sent to a home address
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">Shortcuts</h2>

      <ul class="govuk-list govuk-list--bullet">

        <li>
          Gov uk page
        </li>
        <li>
          <a href="/service/start">Start</a>
        </li>
        <li>
          <a href="/service/applicant-details">Applicant details</a>
        </li>
        <li>
          <a href="/service/address-details">Address details</a>
        </li>
        <li>
          <a href="/service/document-details">Document details</a>
        </li>
        <li>
          <a href="/service/service-address">Service address</a>
        </li>
        <li>
          <a href="https://www.payments.service.gov.uk/card_details/902mbmhsttafsvorrunotco91b">Payment link</a>
        </li>

      </ul>

      <p>
        <a href="/accessibility-statement">Accessibility statement</a>
      </p>
    </div>
  </div>

{% endblock %}