{% extends "layout.html" %}

{% block pageTitle %}
  Apply to remove your home address from the Companies House register
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Shortcuts</h1>
      <h2 class="govuk-heading-l">Apply to remove your home address from the Companies House register (Prototype - v3)
      </h2>
      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="/service/start">Start</a>
        </li>
        <li>
          <a href="/service/applicant-details">What are the applicant's details?</a>
        </li>
        <li>
          <a href="/service/address-details">What home address would you like to remove?</a>
        </li>
        <li>
          <a href="/service/document-details">What are the document details?</a>
        </li>
        <li>
          <a href="/service/service-address">What address do you want to replace your home address with?</a>
        </li>
        <li>
          <a href="/service/contact-details-v2">Contact details (new)</a>
        </li>
        <li>
          <a href="/service/check-your-answers">Check your answers (mvp - no change links)</a>
        </li>
        <li>
          <a href="/service/payment-review">Payment review</a>
        </li>
        <li>
          <a href="https://www.payments.service.gov.uk/card_details/6s8orfu6mmdn8a74ljspthe57i">GovPay service</a>
        </li>
        <li>
          <a href="/service/confirmation">Confirmation page</a>
        </li>

      </ul>

      <h2 class="govuk-heading-m">Emails
      </h2>
      <ul class="govuk-list govuk-list--bullet">

        <li>
          <a href="/emails/application-received">Application received (sent to suppressions team)</a>
        </li>
        <li>
          <a href="/emails/application-submitted">Application submitted (sent to user)</a>
        </li>
      </ul>

      <p>
        <a href="/public/images/user-journey-v3.png">Overview of the user journey</a>
      </p>

    </div>
  </div>

{% endblock %}