{% extends "layout.html" %}

{% block pageTitle %}
  Apply to remove your home address from the Companies House register
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Shortcuts</h1>
      <h2 class="govuk-heading-m">Apply to remove your home address from the Companies House register (Prototype)
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="https://suppress-my-details-v1.herokuapp.com/">Version 1 (June 17th 2020)</a>
          <p>We explored different user journeys, a web journey and an upload journey.</p>
        </li>
        <li>
          <a href="https://suppress-my-details-v2.herokuapp.com/">Version 2 (July 13th 2020)</a>
          <p>Web journey agreed with full GovPay integration</p>
        </li>
        <li>
          <a href="https://suppress-my-details-v3.herokuapp.com/">Version 3 (August 5th 2020)</a>
          <p>This version was user tested and reviewed by policy and the suppressions team to gain feedback</p>
        </li>
        <li>
          <a href="https://suppress-my-details-v4.herokuapp.com/">Version 4 (September 8th 2020)</a>
          <p>This is the MVP/first release of the service</p>
        </li>
        <li>
          <a href="https://suppress-my-details-v5.herokuapp.com/">Version 5 (September 8th 2020)</a>
          <p>Improvements made to the service based on user research</p>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}